html {
    font-family: sans-serif;
    background: #eee;
    padding: 1rem;
}

body {
    max-width: 960px;
    margin: 0 auto;
    background: white;
    width: 100%;
}

.header-logo {
    display: flex;
    align-items: center;        /* Alinea verticalmente */
}

.logo {
    height: 90px;              /* El tamaño grande que prefieras */
    width: auto;
    margin-right: 2rem;         /* Espacio entre logo y texto */
    display: block;
}

.header-logo h1 {
    margin: 0;
    font-size: 2.5em;           /* Aumenta el tamaño si quieres un título más grande */
}

a {
    color: #377ba8;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: lightgray;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
}

nav h1 {
    flex: auto;
    margin: 0;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul  {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a, nav ul li span, header .action {
    display: block;
    padding: 0.5rem;
}

.content {
    padding: 0 1rem 44px 1rem;
}

.content > header {
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: flex-end;
}

.content > header h1 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.post > header {
    display: flex;
    align-items: flex-end;
    font-size: 0.85em;
}

.post > header > div:first-of-type {
    flex: auto;
}

.post > header h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}

.post .about {
    color: slategray;
    font-style: italic;
}

.post .body {
    white-space: pre-line;
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input, .content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    min-width: 5em;
}

input[type=button] {
    align-self: start;
    min-width: 5em;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #043e54;
    color: white;
    text-align: center;
    font-size: 0.48rem;           /* Más pequeño aún */
    padding: 0.12rem 0.4rem;      /* Muy compacto */
    box-sizing: border-box;
    z-index: 1000;
    line-height: 1.25;
}

.tweet-window {
    border: 1px solid #a2a6cc;
    padding: 10px;
    margin-top: 20px;
    max-height: 180px;    /* Reduce la altura máxima */
    overflow-y: scroll;
    margin-bottom: 20px;  /* Espacio para el botón exportar */
}

.tweet-window h2 {
    color: rgb(57, 175, 53);
}

.tweet-window ol {
    list-style-type: decimal; /* tipo de numeración */
    padding-left: 30px; /* espacio para los números */
}

.tweet-window ol li {
  margin-bottom: 10px; /*separación entre tweets para que no queden pegados*/
}

/*cambia el color solo del número */
/*::marker es un pseudo-elemento CSS especial para cambiar el color de los números*/
ol li::marker {
  color: rgb(57, 175, 53);
  font-weight: bold;
}

/*Avisos de busqueda y espera*/
/*Se utiliza # porque tenemos definidos dos avisos diferentes con id */
#aviso-buscado {
    display: none;
    margin-top: 10px;
    color: rgb(53, 120, 175);
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 3px;
}

#aviso-chrome {
    display: none;
    margin-top: 5xp;
    color: rgb(243, 73, 73);
    font-weight: bold;
    text-align: center;
    width: 100%;
}

/*mensajes de alerta definidos-flash */
.flash-messages{
    margin: 10xp 0;
}

.alert {   
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    margin-bottom: 8px;
    opacity: 1;
    /*animation: fadeOut 5s forwards ease-out; /*animación de 5 segundos*/
}

/*animación para que los errores desaparezcan y no queden en pantalla*/
/*@keyframes regla de css para controlar la animación*/
@keyframes fadeOut {
    0% { opacity: 1;}
    100% {
        opacity: 0;
        height: 0;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
}

.alert.error { 
    margin-bottom: 8px;
    background-color: #fac7c7;
    color: #eb3131;
}

.alert.warning {
    margin-bottom: 8px;
    background-color: #f8f4be;
    color: #f5e839;
}

.alert.success {
    margin-bottom: 8px;
    background-color: #d4edda;
    color: #28a745;
}

.alert.info {
    margin-bottom: 8px;
    background-color: #abedf8;
    color: #0c5460;
}

/*Mensajes de error con los codigos de estado*/
.error-box{
    text-align: center;
    background-color: #fff;
    border-radius: 12px; /*redondea esquinas*/
    padding: 40px;
    width: 80%;
    max-width: 500px; /*evita que en pantallas grandes se agrande*/
    margin: 80px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /*agrega sombra*/
    border: 2px solid var(--color-error, #ccc); /* color por defecto */
}

.error-box h1{
    font-size: 2em; 
    margin-bottom: 15px;
    font-weight: bold;
    color: var(--color-error, #555);
}

/*se crean variables CSS para que .error.box y .error-box h1 tome los colores 
definidos para cada error*/
.error-404 { 
    --color-error: #f1c40f; /* Amarillo */
} 
.error-500 { 
    --color-error: #e74c3c; /* Rojo */
} 
.error-503 { 
    --color-error: #95a5a6; /* Gris */
 } 