<!doctype html>

  <head>
    <meta charset="utf-8"> <!--Funciona para la codificación de caracteres, para que no salgan simbolos raros-->
    <link rel="icon" href="{{ url_for('static', filename='images/socialminer_logo1.png') }}" type="image/png">
    <title>{% block title %}SocialMiner Searcher{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  
  <body>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>

      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
    <footer>
      <p>© 2025 SocialMiner App</p>
      <p>Tecnología en Construcción de Software</p>
      <p>Maria Alejandra Pulido Higuera - Lady Marcela Sanchez Moreno</p>
      <p>Universidad Antonio Nariño - Facultad de Ingeniería de Sistemas</p>
      <p>Contacto: mpulido85@uan.edu.co - lsanchez10@uan.edu.co</p>
    </footer>
  </body>

